@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #0ea5e9;
  --accent-hover: #38bdf8;
}

body {
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-sky-400 via-cyan-400 to-teal-400;
}
